<!DOCTYPE html>
<html>
  <head>
    
  	<title>To Bee Blog</title>
	
	   <%= stylesheet_link_tag    'user_show', media: 'all', 'data-turbolinks-track'=> "reload" %>

   </head>	
  <body class= "user_container">


    <div class="vertical-menu">
      <a> <%= link_to "Personal", current_user, :class=>"active"%></a>
      <a> <%= link_to "Chat", {:controller=>"users", :action=>"index"} %></a>
      <a> <%= link_to "Forum", forum_path %></a>
      <a> <%= link_to "Shop", shop_path %></a>
      <a> <%= link_to "Upload", upload_path %></a>
    </div> 

    <%= link_to root_path do %>
      <div id="home_logo">          
          <img><%= image_tag "TOBEE logo 280.png" %></img>   
      </div>   
    <% end %> 

    <% if user_signed_in? %>
              <div class="ui_buttons">
                <% if current_user.has_role? :admin %>
                  <%= link_to new_post_path do %>                       
                      <img class= 'ui_button'><%= image_tag "new post.png"%></img>   
                  <% end %>
                <% end %>
                <%= link_to destroy_user_session_path do %>                       
                    <img class= 'ui_button'><%= image_tag "log out.png"%></img>   
                <% end %>
                <%= link_to current_user do %>
                  <div id="ui_personal_icon">          
                      <img><%= image_tag "personal icon 1.png" %></img>   
                  </div>                   
                <% end %>
                
              </div>
        <li class="round-image-50"><%= image_tag(current_user.avatar.url) %></li>
      <% end%>

          
      

    <div id="background_container">
      <div class="user_content">
      <img src="">
        <p><h3> Edit Profile, <%= @user.username %>!</h3></p>
        <%= form_for(@user) do |f| %>
			<%= f.label :username %>
			<%= f.text_field :username %><br />
			
			<%= f.submit "Save Changes" %>
        <% end %>

      <small>wwwco</small>
      </div>
     
     
       
    </div>
    <%= link_to "Edit account ", edit_user_registration_path , :class=> "btn-oldschool" , :type=>"button"%>

    <%= link_to "Edit personal page ", edit_user_path(@user) , :class=> "btn-oldschool" , :type=>"button"%>




  </body>
</html>  



