<!DOCTYPE html>
<html>
  <head>
    
  	<title>To Bee Blog</title>
	
	   <%= stylesheet_link_tag    'user_show', media: 'all', 'data-turbolinks-track'=> "reload" %>



     <style>
     #sidebar
     {
     display: none;
     }
     #sidebar_right
     {
     display: none;
     }
     #header
     {
     display: none;
     }
     #main_content {  
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        z-index: 0;
      }
     </style>
   </head>	
  <body class= "user_container">


    <div class="vertical-menu">
      <a> <%= link_to "Personal", current_user, :class=>"active"%></a>
      <a> <%= link_to "Chat", {:controller=>"users", :action=>"index"} %></a>
      <a> <%= link_to "Forum", personal_page_path %></a>
      <a> <%= link_to "Shop", shop_path %></a>
      <a> <%= link_to "Upload", personal_page_path %></a>
    </div> 

    <%= link_to root_path do %>
      <div id="home_logo">          
          <img><%= image_tag "TOBEE logo 280.png" %></img>   
      </div>   
    <% end %> 

    <div id="background_container">
      <div class="user_content">
      <img src="">
        <p><h3>Welcome back, <%= @user.username %>!</h3>
        Your introducing: Lorem ipsum dolor sit amet, consectetur adipisicing       elit. Ea, repellat dolore nisi, id omnis, necessitatibus     mollitia distinctio delectus soluta eveniet accusantium       quas veritatis aliquam! Ea architecto beatae inventore       qui quisquam?</p>
      <small>wwwco</small>
      </div>
     
     
       
    </div>
    <%= link_to "Edit profile ", edit_user_registration_path , :class=> "btn-oldschool" , :type=>"button"%>


  </body>
</html>  
