<!DOCTYPE html>
<html>
  <head>
    
  	<title>To Bee Blog</title>
	
	   <%= stylesheet_link_tag    'user_show', media: 'all', 'data-turbolinks-track'=> "reload" %>

   </head>	
  <body class= "user_container">


    <div class="vertical-menu">
      <a> <%= link_to "Personal", current_user, :class=>"active"%></a>
      <a> <%= link_to "Chat", conversations_path %></a>
      <a> <%= link_to "Forum", forum_path %></a>
      <a> <%= link_to "Shop", shop_path %></a>
      <a> <%= link_to "Upload", upload_path %></a>
    </div> 

    <%= link_to root_path do %>
      <div id="home_logo">          
          <img><%= image_tag "TOBEE logo 280.png" %></img>   
      </div>   
    <% end %> 

      <% if user_signed_in? %>
              <div class="ui_buttons">
                <% if current_user.has_role? :admin %>
                  <%= link_to new_post_path do %>                       
                      <img class= 'ui_button'><%= image_tag "new post.png"%></img>   
                  <% end %>
                <% end %>
                <%= link_to destroy_user_session_path do %>                       
                    <img class= 'ui_button'><%= image_tag "log out.png"%></img>   
                <% end %>                
              </div>
              <%= link_to current_user do %>
                  <div id="ui_avatar">           
                        
                  </div>                   
              <% end %>
        
      <% end%>

          
      

    <div id="background_container">
      <div class="user_content">
      <img src="">
        <p><h3>Welcome back, <%= @user.username %>!</h3>
        Your introducing: <br/>
        <br/>
        This is your personal user area, where you can edit your account details, update personal profile, post and read other users' posts in the forum area, upload different files for Liondeer to see, buy or just check out different To Bee products and hit up chat to chit chat with other bees. Enjoy, we are happy to have you here!</p>
        
      <small>To Bee Beehive</small>
      </div>
     
     
       
    </div>
    <%= link_to "Edit account ", edit_user_registration_path , :class=> "btn-oldschool" , :type=>"button"%>

    <%= link_to "Edit personal page ", edit_user_path , :class=> "btn-oldschool" , :type=>"button"%>




  </body>
</html>  
