<html>
<head>
<title>Upload to your personal page</title>
<%= stylesheet_link_tag    'personal_page', media: 'all', 'data-turbolinks-track'=> "reload" %>
<script>

</script>
<style>
     #sidebar
     {
     display: none;
     }
     </style>
</head>
<body class= "user_container">
  <div class="vertical-menu">
      <a> <%= link_to "Personal", current_user %></a>
      <a> <%= link_to "Chat", ""  %></a>
      <a> <%= link_to "Forum", forum_path %></a>
      <a> <%= link_to "Shop", shop_path %></a>
      <a> <%= link_to "Upload", upload_path, :class=>"active" %></a>
  </div> 

  <%= link_to root_path do %>
      <div id="home_logo">          
          <img><%= image_tag "TOBEE logo 280.png" %></img>   
      </div>   
  <% end %> 

  <div class="ui form">
    <div class="fields">
      <div class="six wide field">
        <label>First name</label>
        <input placeholder="First Name" type="text">
      </div>
      <div class="four wide field">
        <label>Middle</label>
        <input placeholder="Middle Name" type="text">
      </div>
      <div class="six wide field">
        <label>Last name</label>
        <input placeholder="Last Name" type="text">
      </div>
    </div>
    <div class="fields">
      <div class="two wide field">
        <input placeholder="2 Wide" type="text">
      </div>
      <div class="twelve wide field">
        <input placeholder="12 Wide" type="text">
      </div>
      <div class="two wide field">
        <input placeholder="2 Wide" type="text">
      </div>
    </div>
    <div class="fields">
      <div class="eight wide field">
        <input placeholder="8 Wide" type="text">
      </div>
      <div class="six wide field">
        <input placeholder="6 Wide" type="text">
      </div>
      <div class="two wide field">
        <input placeholder="2 Wide" type="text">
      </div>
    </div>
  </div>

  


</body>
</html>
