!!!
%html
%head
	%title To Bee Forum
	= stylesheet_link_tag    'forum', media: 'all', 'data-turbolinks-track' => true
	%link{ rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Lato:300,400,700", type: "text/css"}
	%link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}/
	= csrf_meta_tags

%body.forum_form

	#forumpost_content	
		%h1= @forumpost.title
		%p= @forumpost.content

		#forumcomments
			%h2= @forumpost.forumcomments.count 
			%p REPLIES
			= render @forumpost.forumcomments

			%h3 Reply to thread
			= render "forumcomments/form"

			%br/
			%hr/
			%br/

	- unless @forumpost.user != current_user
		= link_to "Edit", edit_forumpost_path(@forumpost)
		= link_to "Delete", forumpost_path(@forumpost), method: :delete, data: { confirm: "Are you sure about the 'delete'?"}
	= link_to "Forum Home", forum_path

	.wrapper
		%p.notice= notice
		%p.alert= alert
	.wrapper
		= yield 