

<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :title %><br>
		<%= f.cktext_area :title %>
		
	</p>

	<p>
		<%= f.label :body %><br>
		<%= f.cktext_area :body %>
	</p>	

	<p> 
			<%= f.label :categories %> <br /> 
			<br/>
		<%= f.collection_select :category_id, Category.all, :id, :name, { prompt: '?' }, input_html: { class: "dropdown-toggle" } %>
		
	</p>
	
	

	<p>
		<%= f.submit %>
	</p>
<% end %>	