!!!
%html
%head
    %title To Bee Shop
    = javascript_include_tag "store"
    = stylesheet_link_tag    'store', media: 'all', 'data-turbolinks-track' => true


%body.store_body    
    %div#container
        #arrow-left.arrow
        #slider
            .slide.slide1
                .slide-content
                    #logo 
                        = link_to image_tag('TOBEE logo 280.png'), root_path, :class => "shop_logo"
                    %span Desk Organizer
                    %p1 Made by Lõvi
                    #storeBtn{:onclick => "bottomFunction()"}
                        = image_tag 'down arrow.png', :class => "shop_arrow" 
                    
                    #product_info 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_1" 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_2" 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_3" 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_4" 
                        %p2 "Recte, inquit, intellegis.An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?Sullae consulatum?   Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali.   Eiuro, inquit adridens, iniquum, hac quidem de re; Cur igitur, cum de re conveniat, non malumus usitate loqui? Et si in ipsa gubernatione neglegentia est navis eversa, maius est peccatum in auro quam in palea. Neque solum ea communia, verum etiam paria esse dixerunt. Est igitur officium eius generis, quod nec in bonis ponatur nec in contrariis. Idemne potest esse dies saepius, qui semel fuit? Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia;     Graecis hoc modicum est: Leonidas, Epaminondas, tres aliqui aut quattuor; Hoc Hieronymus summum bonum esse dixit. Iam enim adesse poterit. Dat enim intervalla et relaxat. Ratio enim nostra consentit, pugnat oratio. Quorum sine causa fieri nihil putandum est. Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum. Utrum igitur tibi litteram videor an totas paginas commovere?" 
                        %p3  "Recte, inquit, intellegis.An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?Sullae consulatum?   Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali.   Eiuro, inquit adridens, iniquum, hac quidem de re; Cur igitur, cum de re conveniat, non malumus usitate loqui? Et si in ipsa gubernatione neglegentia est navis eversa, maius est peccatum in auro quam in palea. Neque solum ea communia, verum etiam paria esse dixerunt. Est igitur officium eius generis, quod nec in bonis ponatur nec in contrariis. Idemne potest esse dies saepius, qui semel fuit? Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia;     Graecis hoc modicum est: Leonidas, Epaminondas, tres aliqui aut quattuor; Hoc Hieronymus summum bonum esse dixit. Iam enim adesse poterit. Dat enim intervalla et relaxat. Ratio enim nostra consentit, pugnat oratio. Quorum sine causa fieri nihil putandum est. Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum. Utrum igitur tibi litteram videor an totas paginas commovere?"
                        %p4 Soon in Stock




            .slide.slide2
                .slide-content
                    #logo 
                        = link_to image_tag('TOBEE logo 280.png'), root_path, :class => "shop_logo"
                    %span To Bee Collar Shirt
                    %p1 Made by Lõvi
                    #storeBtn{:onclick => "bottomFunction()"}
                        = image_tag 'down arrow.png', :class => "shop_arrow" 
                    #product_info 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_1" 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_2" 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_3" 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_4" 
                        %p2 "Recte, inquit, intellegis.An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?Sullae consulatum?   Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali.   Eiuro, inquit adridens, iniquum, hac quidem de re; Cur igitur, cum de re conveniat, non malumus usitate loqui? Et si in ipsa gubernatione neglegentia est navis eversa, maius est peccatum in auro quam in palea. Neque solum ea communia, verum etiam paria esse dixerunt. Est igitur officium eius generis, quod nec in bonis ponatur nec in contrariis. Idemne potest esse dies saepius, qui semel fuit? Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia;     Graecis hoc modicum est: Leonidas, Epaminondas, tres aliqui aut quattuor; Hoc Hieronymus summum bonum esse dixit. Iam enim adesse poterit. Dat enim intervalla et relaxat. Ratio enim nostra consentit, pugnat oratio. Quorum sine causa fieri nihil putandum est. Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum. Utrum igitur tibi litteram videor an totas paginas commovere?" 
                        %p3  "Recte, inquit, intellegis.An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?Sullae consulatum?   Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali.   Eiuro, inquit adridens, iniquum, hac quidem de re; Cur igitur, cum de re conveniat, non malumus usitate loqui? Et si in ipsa gubernatione neglegentia est navis eversa, maius est peccatum in auro quam in palea. Neque solum ea communia, verum etiam paria esse dixerunt. Est igitur officium eius generis, quod nec in bonis ponatur nec in contrariis. Idemne potest esse dies saepius, qui semel fuit? Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia;     Graecis hoc modicum est: Leonidas, Epaminondas, tres aliqui aut quattuor; Hoc Hieronymus summum bonum esse dixit. Iam enim adesse poterit. Dat enim intervalla et relaxat. Ratio enim nostra consentit, pugnat oratio. Quorum sine causa fieri nihil putandum est. Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum. Utrum igitur tibi litteram videor an totas paginas commovere?"
                        %p4 Soon in Stock

            .slide.slide3
                .slide-content
                    #logo 
                        = link_to image_tag('TOBEE logo 280.png'), root_path, :class => "shop_logo"
                    %span To Bee Patch
                    %p1 Made by Lõvi
                    #storeBtn{:onclick => "bottomFunction()"}
                        = image_tag 'down arrow.png', :class => "shop_arrow" 
                    #product_info 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_1" 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_2" 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_3" 
                        = link_to image_tag('index.png'), root_path, :class => "photo_detail_4" 
                        %p2 "Recte, inquit, intellegis.An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?Sullae consulatum?   Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali.   Eiuro, inquit adridens, iniquum, hac quidem de re; Cur igitur, cum de re conveniat, non malumus usitate loqui? Et si in ipsa gubernatione neglegentia est navis eversa, maius est peccatum in auro quam in palea. Neque solum ea communia, verum etiam paria esse dixerunt. Est igitur officium eius generis, quod nec in bonis ponatur nec in contrariis. Idemne potest esse dies saepius, qui semel fuit? Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia;     Graecis hoc modicum est: Leonidas, Epaminondas, tres aliqui aut quattuor; Hoc Hieronymus summum bonum esse dixit. Iam enim adesse poterit. Dat enim intervalla et relaxat. Ratio enim nostra consentit, pugnat oratio. Quorum sine causa fieri nihil putandum est. Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum. Utrum igitur tibi litteram videor an totas paginas commovere?" 
                        %p3  "Recte, inquit, intellegis.An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?Sullae consulatum?   Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali.   Eiuro, inquit adridens, iniquum, hac quidem de re; Cur igitur, cum de re conveniat, non malumus usitate loqui? Et si in ipsa gubernatione neglegentia est navis eversa, maius est peccatum in auro quam in palea. Neque solum ea communia, verum etiam paria esse dixerunt. Est igitur officium eius generis, quod nec in bonis ponatur nec in contrariis. Idemne potest esse dies saepius, qui semel fuit? Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia;     Graecis hoc modicum est: Leonidas, Epaminondas, tres aliqui aut quattuor; Hoc Hieronymus summum bonum esse dixit. Iam enim adesse poterit. Dat enim intervalla et relaxat. Ratio enim nostra consentit, pugnat oratio. Quorum sine causa fieri nihil putandum est. Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum. Utrum igitur tibi litteram videor an totas paginas commovere?"
                        %p4 Soon in Stock

            #arrow-right.arrow
             

        :javascript
            let sliderImages = document.querySelectorAll(".slide"),
              arrowLeft = document.querySelector("#arrow-left"),
              arrowRight = document.querySelector("#arrow-right"),
              current = 0;

            // Clear all images
            function reset() {
              for (let i = 0; i < sliderImages.length; i++) {
                sliderImages[i].style.display = "none";
              }
            }

            // Init slider
            function startSlide() {
              reset();
              sliderImages[0].style.display = "block";
            }

            // Show prev
            function slideLeft() {
              reset();
              sliderImages[current - 1].style.display = "block";
              current--;
            }

            // Show next
            function slideRight() {
              reset();
              sliderImages[current + 1].style.display = "block";
              current++;
            }

            // Left arrow click
            arrowLeft.addEventListener("click", function() {
              if (current === 0) {
                current = sliderImages.length;
              }
              slideLeft();
            });

            // Right arrow click
            arrowRight.addEventListener("click", function() {
              if (current === sliderImages.length - 1) {
                current = -1;
              }
              slideRight();
            });

            startSlide();

            
            function bottomFunction() {
                document.body.scrollTop = 580; 
                document.documentElement.scrollTop = 580; 
            } 




           






