<!DOCTYPE html>
<html>
  <head>
    
  	<title>To Bee Blog</title>
	
	   <%= stylesheet_link_tag    'store_index', media: 'all', 'data-turbolinks-track'=> "reload" %>



     <style>
     #sidebar
     {
     display: none;
     }
     #sidebar_right
     {
     display: none;
     }
     #header
     {
     display: none;
     }
     #main_content {  
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        z-index: 0;
      }
     </style>
   </head>	
  <body class= "user_container">


    <div class="vertical-menu">
      <a> <%= link_to "Personal", current_user%></a>
      <a> <%= link_to "Chat", conversations_path %></a>
      <a> <%= link_to "Forum", forum_path %></a>
      <a> <%= link_to "Shop", shop_path, :class=>"active" %></a>
      <a> <%= link_to "Upload", upload_path %></a>
    </div> 

    <%= link_to root_path do %>
      <div id="home_logo">          
          <img><%= image_tag "TOBEE logo 280.png" %></img>   
      </div>   
    <% end %> 
	

	<div class="store_container">
		<div class="product">
			<h1>To-Bee Collar Shirts</h1>
			<div class="shirt">
				<%= image_tag("personal icon 2.png", alt: "COLLAR SHIRT") %>  
        <div id="cart_form">
          <%= cart_form(@product) %>
        </div> 
        <%= cart_link %>
        <!--%= orders_link("Order History") %-->
        <%= piggybak_track_order("To Bee Shop") %>

			</div>
		</div>

		
	</div>

    


  </body>
</html>  
