<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <script src="/home/bumblebee/tobee_blog/blog/app/models/ckeditor/ckeditor.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="sidebar">
  		<div id="logo">
  			<%= link_to root_path do %>
  				<%= image_tag "TOBEE logo 280.png"%>
			<% end %>
  		</div>

  		<ul>
  			<li class="category"></li>
  			<li><%= link_to "Home", root_path %></li>
  			<li><%= link_to "About Me", about_path %></li>
  		</ul>

      <ul>
        <li class="category">Categories</li>
        <li><%= link_to "Photography" %></li>
        <li><%= link_to "Music" %></li>
        <li> <%= link_to "Lifestyle" %></li>
      </ul>

      <% if user_signed_in? %>
          <div class="buttons">
            <button class="button"><%= link_to "New Post", new_post_path %></button>
            <button class="button"><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></button>
          </div>
      <% end%>

  		
      <% if !user_signed_in? %>
  		  <p class="sign_in"><%= link_to "Login", new_user_session_path %></p>
      <% end %>
  	</div>

  	<div id="main_content">
  		

     <div id="sidebar_right">
      <div id="logo">
        <%= link_to root_path do %>
          
      <% end %>
      </div>


      

 

      
    </div>

  		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
  		<% end %>

  		<%= yield %>
  	</div>
  </body>
</html>
