
<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <script src="/home/bumblebee/tobee_blog/blog/app/models/ckeditor/ckeditor.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
  	<div id="sidebar">
      
    		<div id="logo">

          <img src="tobee_blog/blog/app/assets/images/TOBEE logo 280.png" />
          
        </div>
      
    		


      
      
    <nav>
    	 <ul>
    		  <li class="category"></li>
    		  <li><%= link_to "Home", root_path %></li>
    		  <li><%= link_to "About Me", about_path %></li>
    	 </ul>

        <ul>
          <li class="category"><%= link_to "Categories", posts_path %></li>
          <li>
          <br/>
          <% Category.all.each do |category| %> 
              <%= link_to category.name, posts_path(category: category.name) %>
          <% end %>
          </li>
        </ul>
    </nav>    



      <% if user_signed_in? %>
          <div class="buttons">
            <p class="button"><%= link_to "Make a Post", new_post_path %></p>
            <p class="button"><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></p>
          </div>
      <% end%>

  		
      <% if !user_signed_in? %>
  		  <p class="sign_in"><%= link_to "Login", new_user_session_path %></p>
      <% end %>
  	</div>

  	<div id="main_content">

    <div id="header"> 
    </div>
        
  		

    <div id="sidebar_right">

      <p>&copy; 2017 by SUKItheFox. All rights reserved.</p>
       

      
    </div>
      

    

  		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
  		<% end %>

  		<%= yield %>
  	</div>
  </body>
</html>
