
<!DOCTYPE html>
<html>
  <head>
    <title>To Bee Blog</title>
    <script src="path/to/vanilla.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <%= csrf_meta_tags %>    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> true  %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'logo', 'navigation', 'scroll_top_arrow' ,'data-turbolinks-track'=> true  %>
    

  </head>

  <body>
  	<div id="sidebar">   
        <nav>  
          <div tabindex="0" class="logo_click"> 
            <ul class= "logoclick-content">
            	<div id="logo">          
                  <%= image_tag "TOBEE logo 280.png", :class => "style_image"  %>              
              </div>
            </ul> 
          </div>  
             
      
          
      	 <ul id="navBar">
      		  <li class="category"></li>
      		  <li><%= link_to "Home", root_path %></li>
      		  <li><%= link_to "About Me", about_path %></li>
          
            <div tabindex="0" class="onclick-menu">
              <ul class= "onclick-menu-content">                
                <li>
                  <% Category.all.each do |category| %> 
                    <li class="category_style"> <%= link_to category.name, posts_path(category: category.name) %></li>
                  <% end %>
                </li>                    
              </ul>
            </div>
          </ul>
        </nav>
    

      <% if user_signed_in? %>
          <div class="buttons">
            <p class="button"><%= link_to "Make a Post", new_post_path %></p>
            <p class="button"><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></p>
          </div>
      <% end%>

  		
      <% if !user_signed_in? %>
  		  <p class="sign_in"><%= link_to "Login", new_user_session_path %></p>
      <% end %>
  	</div>

  	<div id="main_content">
    

      <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
      <% end %>

      <%= yield %>


      <button onclick="topFunction()" id="myBtn"><%= image_tag "page up.png", :class => "style_arrow"  %></button> 
          
  	</div>	

    <div id="sidebar_right">

      <p>&copy; 2017 by SUKItheFox. All rights reserved.</p>
       
    
      
  		
  	</div>

    <div id="header"> 
      <li>
        <% if @category_id == 1 %>
        <p> Lifestyle </p>

        <% elsif @category_id == 2 %> 
        <p>  Photography </p>

        <% elsif @category_id == 3 %>
        <p> Music </p>

        <% elsif @category_id == 4 %>
        <p> Literature </p>

        <% else %>
        <p> </p>
                
        <% end %>
      </li>        
    </div> 
  </body>
</html>
